@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100&family=Brygada+1918:wght@600&family=Lobster&family=Montserrat:wght@100;400&family=Nunito:wght@200&family=Poppins&family=Quicksand:wght@400;100&family=Signika+Negative&display=swap');

.each-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: gray;
    background-repeat: no-repeat;
}

.unc {
    width: 70%;
    font-size: 50px;
    font-family: 'Brygada 1918', serif;

    .dif {
        font-family: 'Brygada 1918', italic;

    }

    .gr {
        font-family: 'Brygada 1918', serif;
        color: rgb(109, 187, 109);
    }
}

.cs {
    text-align: center;
    width: 50% !important;
    background-size: cover;

}

.br {
    outline: 0.5px solid black;
}

.br-l {
    outline: 0.5px solid black;
}

.br-r {
    outline: 0.5px solid black;
}

@media screen and (max-width:768px) {
    .cs {
        width: 100% !important;
    }

    .sub {
        flex-direction: column !important;
    }
}

.st {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline !important;
    padding-top: 40px;
}

@media screen and (max-width:900px) {
    .sa {
        height: fit-content !important;
    }
}

.cardd {
    max-width: 335px !important;
    max-height: 550px !important;
}

.sub {
    input {
        background-color: transparent;
        border: 0;
        border-bottom: px solid white;
        outline: 0;
    }

    input[type='text'] {
        color: white;
    }

    button {
        margin-left: 3px;
        color: white;
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid white;
    }
}